/* CSS definition file containing site stylesheet */
body {background-color: #FFFFFF;}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}

table{
    border-spacing: 10px; 
}

#adminTitle{
    text-align: center; 
}

.text{
    font-weight: bold; 
    font-size: 30px; 
    text-align: center; 
}

/**------ CSS FOR HOMEPAGE ------**/
#container{
    overflow: auto; 
    width: 100%; 
}

#gameStatus{
    color: black;
    width: 50%;
    top: 200px;
 
}

#intro {
	font-size: 18px;
	text-align: justify;
}

#statusContent{
    padding-left: 16.8%;
    width: 50%;
}

#right_container{
        color: black;
	position: absolute;
	top: 325px;
	right: 5%;
	width: 	30%;
	padding-bottom: 30px;
}

.playerName{
    font-weight: bold; 
}

#playerInfoTable {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

#gameStats {
	border: 2px solid #C0BEBE;
}

.seriesStats{
	border-left: 2px solid #C0BEBE;
	border-right: 2px solid #C0BEBE;
	padding-left: 5px;
	padding-right: 5px;
}

.seriesStats th{
	border-bottom: 2px solid #C0BEBE;
	text-align: center;
	height: 10px;
}
/*------ END OF HOMEPAGE ------*/

/**------ CSS FOR THE HEADER FIELD ------******************************************************************/

#banner{
    width:50%;
}

#siteTitle{
    font-size: 40px;
}

#bannerLogoImage{}

#headerInfo{
    color: black;
    width:60px;
    padding-left: 3em;
}

.buttonLogin:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: yellow;
}

.buttonLogin{
    text-align: center;
    border-radius: 10px;
    font-size:15px !important;
}

/*------ END OF HEADER FIELD ------*/

/**------ CSS FOR THE NAVIGATION MENUBAR FIELD ------******************************************************/

nav{
    padding: 0 0 0 0;
}

nav ul{
    list-style: none;
    padding: 0;
    position: relative;
}
nav ul:after {
    content: "";
    clear: both;
    display: block;
}

.menu{
    float: left;
    text-align: center;
    width: 20%;
    line-height: 25px;
}

nav ul li a{

    padding: 5px 25px;
    text-decoration: none;
    color: white;
    background: #252E30;
    font-size: 0.9em;
    text-align: center;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

nav ul li a:hover {
    background: #353A42;
    color: #49CBCD;
    text-decoration: none;
}
nav ul ul{
    display: none;
    position: absolute;
    width: 20%;
}

nav ul li:hover > ul{
    display: block;
    z-index: 1;
}
/*------ END OF NAVIGATION MENUBAR FIELD ------*/

/**------ CSS FOR Player Portfolio Page ------******************************************************************/
#dropdown{
    text-align: center; 
}

player_activies{
    text-align: center; 
}

player_holdings{
    text-align: center; 
}

#playerActionsForm {
    text-align: center;
}

.buttonPlayer:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: yellow;
}
.buttonPlayer{
    text-align: center;
    border-radius: 10px;
    font-size:20px !important;
}

/*------ END OF Player Portfolio Page ------*/

/**------ CSS FOR Assemble Page ------******************************************************************/

#collectionContainer{

}
.collection1{
    /*display: inline-block;*/
    background: white;
    float: left;
    margin-left: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
}
.collection2{
    background: white;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
}

#assemblyRightContainer {
    position: absolute;
    left: 50%;
    top: 50%;
}

.buttonAssemble:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: yellow;
}
.buttonAssemble{
    text-align: center;
    width: 100%;
    height: 0%;
    height: 150%;
    border-radius: 10px;
    font-size:30px !important;
}

#previewH5{
    padding: 15px;
    font-size:30px !important;
    text-align: center;
}
/*------ END OF Assemble Page ------*/

/**------ CSS FOR THE Admin Page ------******************************************************************/
#adminTable{
    width: 35%;
}

/*------ END OF Admin Page ------*/

/**------ CSS FOR THE FOOTER FIELD ------******************************************************************/


/*------ END OF FOOTER FIELD ------*/
