/* CSS definition file containing site stylesheet */
body {background-color: #FF0000;}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}

table{
    border-spacing: 10px; 
}

.text{
    font-weight: bold; 
    font-size: 30px; 
    text-align: center; 
}

/**------ CSS FOR HOMEPAGE ------**/
#container{
    overflow: auto; 
    width: 100%; 
}

#gameStatus{
    color: white;
    width: 50%;
    top: 200px;
 
}

#intro {
	font-size: 18px;
	text-align: justify;
}

#statusContent{
    padding-left: 16.8%;
    width: 50%;
}

#right_container{
        color: white;
	position: absolute;
	top: 250px;
	right: 0.5%;
	width: 	30%;
	padding-bottom: 30px;
}

.playerName{
    font-weight: bold; 
}

.firstColumn{
    float: left; 
    margin-right: 110px; 
    border: 3.5px solid white;
}

.secondColumn{
    //display: inline-block;
    float: right; 
    border: 3.5px solid white; 
}

#gameStats {
	border: 2px solid #C0BEBE;
}

.seriesStats{
	border-left: 2px solid #C0BEBE;
	border-right: 2px solid #C0BEBE;
	padding-left: 5px;
	padding-right: 5px;
}

.seriesStats th{
	border-bottom: 2px solid #C0BEBE;
	text-align: center;
	height: 10px;
}
/*------ END OF HOMEPAGE ------*/




/**------ CSS FOR THE HEADER FIELD ------******************************************************************/

#banner{
	width:30%;
}

#siteTitle{
    font-size: 40px;
}

#bannerLogoImage{}

#headerInfo{
        color: white;
	width:60px;
	padding-left: 3em;
}

/*------ END OF HEADER FIELD ------*/

/**------ CSS FOR THE NAVIGATION MENUBAR FIELD ------******************************************************/

nav{
	padding: 0 0 0 0;
}

nav ul{
	list-style: none;
	padding: 0;
	position: relative;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

.menu{
	float: left;
	text-align: center;
	width: 33.3%;
	line-height: 25px;
}

nav ul li a{
	
	padding: 5px 25px;
	text-decoration: none;
	color: white;
	background: #252E30;
	font-size: 0.9em;
	text-align: center;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
	
nav ul li a:hover {
	background: #353A42;
	color: #49CBCD;
	text-decoration: none;
}
nav ul ul{
	display: none;
	position: absolute;
	width: 20%;
}

nav ul li:hover > ul{
	display: block;
	z-index: 1;
}
/*------ END OF NAVIGATION MENUBAR FIELD ------*/

/**------ CSS FOR Player Portfolio Page ------******************************************************************/
#dropdown{
    text-align: center; 
}

/*------ END OF Player Portfolio Page ------*/
/**------ CSS FOR Assemble Page ------******************************************************************/

#collectionContainer{
    
}
.collection1{
    //display: inline-block;
    background: white;
    float: left;
    margin-left: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
}
.collection2{
    background: white;
    border: 1px solid black;
    padding: 10px;
    width: 20%;
}

#assemblyRightContainer {
    position: absolute;
    left: 50%;
    top: 40%;
}

.buttonAssemble:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: yellow;
}
.buttonAssemble{
    text-align: center;
    width: 100%;
    height: 0%;
    height: 150%;
    border-radius: 10px;
    font-size:30px !important;
}

#previewH5{
    padding: 15px;
    font-size:30px !important;
    text-align: center;
}
/*------ END OF Assemble Page ------*/
/**------ CSS FOR THE FOOTER FIELD ------******************************************************************/


/*------ END OF FOOTER FIELD ------*/

