/* CSS definition file containing site stylesheet */
body {background-color: #FF0000;}
#content {width:100%; margin-left:5% auto;margin-right:5% auto;}
#footer {font-size: small; font-style:italic;text-align:center;}
.row>div {margin-bottom:10px;}

body{
	/*background-color: blue;*/ 
}

.text{
    font-weight: bold; 
    font-size: 30px; 
    text-align: center; 
}

/**------ CSS FOR HOMEPAGE ------**/
#container{
    overflow: auto; 
    width: 100%; 
}

#gameStatus{
    color: white;
    width: 50%;
    top: 200px;
 
}

#intro {
	font-size: 18px;
	text-align: justify;
}

#statusContent{
    padding-left: 16.8%;
    width: 50%;
}

#right_container{
        color: #C0BEBE;
	position: absolute;
	top: 250px;
	right: 0.5%;
	width: 	30%;
	padding-bottom: 30px;
}

.playerName{
    font-weight: bold; 
}

.firstColumn{
    float: left; 
    margin-right: 110px; 
    border: 2px solid #C0BEBE;
}

.secondColumn{
    //display: inline-block;
    float: right;   
    border: 2px solid #C0BEBE; 
}
/*------ END OF HOMEPAGE ------*/




/**------ CSS FOR THE HEADER FIELD ------******************************************************************/

#banner{
	width:30%;
}

#siteTitle{
    font-size: 40px;
}

#bannerLogoImage{}

#headerInfo{
        color: white;
	width:60px;
	padding-left: 3em;
}

/*------ END OF HEADER FIELD ------*/

/**------ CSS FOR THE NAVIGATION MENUBAR FIELD ------******************************************************/

nav{
	padding: 0 0 0 0;
}

nav ul{
	list-style: none;
	padding: 0;
	position: relative;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}

.menu{
	float: left;
	text-align: center;
	width: 33.3%;
	line-height: 25px;
}

nav ul li a{
	
	padding: 5px 25px;
	text-decoration: none;
	color: white;
	background: #252E30;
	font-size: 0.9em;
	text-align: center;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
	
nav ul li a:hover {
	background: #353A42;
	color: #49CBCD;
	text-decoration: none;
}
nav ul ul{
	display: none;
	position: absolute;
	width: 20%;
}

nav ul li:hover > ul{
	display: block;
	z-index: 1;
}
/*------ END OF NAVIGATION MENUBAR FIELD ------*/

/**------ CSS FOR THE FOOTER FIELD ------******************************************************************/


/*------ END OF FOOTER FIELD ------*/

